.vs/RobotWars.Test/v14/.suo
.vs/RobotWars/v14/.suo
RobotWars.Game/bin/Debug/RobotWars.Game.dll
RobotWars.Test/bin/Debug/xunit.assert.xml
RobotWars.Test/bin/Debug/xunit.core.dll
RobotWars.Test/bin/Debug/xunit.core.pdb
RobotWars.Test/bin/Debug/xunit.core.xml
RobotWars.Test/bin/Debug/xunit.execution.desktop.dll
RobotWars.Test/bin/Debug/xunit.execution.desktop.pdb
RobotWars.Test/bin/Debug/xunit.execution.desktop.xml
RobotWars.Test/obj/Debug/BoardEx.RobotWars.Test.dll
RobotWars.Test/obj/Debug/BoardEx.RobotWars.Test.pdb
RobotWars.Game/bin/Debug/RobotWars.Game.pdb
RobotWars.Game/obj/Debug/RobotWars.Game.csproj.FileListAbsolute.txt
RobotWars.Game/obj/Debug/RobotWars.Game.csprojResolveAssemblyReference.cache
RobotWars.Game/obj/Debug/RobotWars.Game.dll
RobotWars.Game/obj/Debug/RobotWars.Game.pdb
RobotWars.Test/bin/Debug/BoardEx.RobotWars.Test.dll
RobotWars.Test/bin/Debug/BoardEx.RobotWars.Test.pdb
RobotWars.Test/bin/Debug/RobotWars.Game.dll
RobotWars.Test/bin/Debug/RobotWars.Game.pdb
RobotWars.Test/bin/Debug/xunit.abstractions.dll
RobotWars.Test/bin/Debug/xunit.abstractions.xml
RobotWars.Test/bin/Debug/xunit.assert.dll
RobotWars.Test/bin/Debug/xunit.assert.pdb
RobotWars.Test/obj/Debug/RobotWars.Test.csproj.FileListAbsolute.txt
RobotWars.Test/obj/Debug/RobotWars.Test.csprojResolveAssemblyReference.cache
sh.exe.stackdump
