.vs/RobotWars.Test/v14/.suo
.vs/RobotWars/v14/.suo
RobotWars.Game/bin/Debug/RobotWars.Game.dll
RobotWars.Test/bin/Debug/xunit.assert.xml
RobotWars.Test/bin/Debug/xunit.core.dll
RobotWars.Test/bin/Debug/xunit.core.pdb
RobotWars.Test/bin/Debug/xunit.core.xml
RobotWars.Test/bin/Debug/xunit.execution.desktop.dll
RobotWars.Test/bin/Debug/xunit.execution.desktop.pdb
RobotWars.Test/bin/Debug/xunit.execution.desktop.xml
RobotWars.Test/obj/Debug/BoardEx.RobotWars.Test.dll
RobotWars.Test/obj/Debug/BoardEx.RobotWars.Test.pdb
RobotWars.Game/bin/Debug/RobotWars.Game.pdb
RobotWars.Game/obj/Debug/RobotWars.Game.csproj.FileListAbsolute.txt
RobotWars.Game/obj/Debug/RobotWars.Game.csprojResolveAssemblyReference.cache
RobotWars.Game/obj/Debug/RobotWars.Game.dll
RobotWars.Game/obj/Debug/RobotWars.Game.pdb
RobotWars.Test/bin/Debug/BoardEx.RobotWars.Test.dll
RobotWars.Test/bin/Debug/BoardEx.RobotWars.Test.pdb
RobotWars.Test/bin/Debug/RobotWars.Game.dll
RobotWars.Test/bin/Debug/RobotWars.Game.pdb
RobotWars.Test/bin/Debug/xunit.abstractions.dll
RobotWars.Test/bin/Debug/xunit.abstractions.xml
RobotWars.Test/bin/Debug/xunit.assert.dll
RobotWars.Test/bin/Debug/xunit.assert.pdb
RobotWars.Test/obj/Debug/RobotWars.Test.csproj.FileListAbsolute.txt
RobotWars.Test/obj/Debug/RobotWars.Test.csprojResolveAssemblyReference.cache
sh.exe.stackdump
RobotWars.Game.Engine/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
RobotWars.Game.Engine/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RobotWars.Game.Engine.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RobotWars.Game.Engine.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
RobotWars.Game.Engine.Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
RobotWars.Game.Engine.Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
RobotWars.Game.Engine.Test/obj/Debug/build.force
RobotWars.Game.Engine/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
RobotWars.Game.Engine/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
RobotWars.Game.Engine.Test/bin/Debug/RobotWars.Game.Engine.Test.dll
RobotWars.Game.Engine/obj/Debug/RobotWars.Game.Engine.csproj.FileListAbsolute.txt
RobotWars.Game.Engine.Test/obj/Debug/RobotWars.Game.Engine.Test.csproj.FileListAbsolute.txt
RobotWars.Game.Engine.Test/obj/Debug/RobotWars.Game.Engine.Test.csprojResolveAssemblyReference.cache
RobotWars.Game.Engine.Test/obj/Debug/RobotWars.Game.Engine.Test.dll
RobotWars.Game.Engine.Test/obj/Debug/RobotWars.Game.Engine.Test.pdb
RobotWars.Game.Engine/bin/Debug/RobotWars.Game.Engine.dll
RobotWars.Game.Engine/bin/Debug/RobotWars.Game.Engine.pdb
RobotWars.Game.Engine.Test/bin/Debug/RobotWars.Game.Engine.Test.pdb
RobotWars.Game.Engine.Test/bin/Debug/RobotWars.Game.Engine.dll
RobotWars.Game.Engine.Test/bin/Debug/RobotWars.Game.Engine.pdb
RobotWars.Game.Engine.Test/bin/Debug/xunit.abstractions.dll
RobotWars.Game.Engine.Test/bin/Debug/xunit.abstractions.xml
RobotWars.Game.Engine.Test/bin/Debug/xunit.assert.dll
RobotWars.Game.Engine.Test/bin/Debug/xunit.assert.pdb
RobotWars.Game.Engine.Test/bin/Debug/xunit.assert.xml
RobotWars.Game.Engine.Test/bin/Debug/xunit.core.dll
RobotWars.Game.Engine.Test/bin/Debug/xunit.core.pdb
RobotWars.Game.Engine.Test/bin/Debug/xunit.core.xml
RobotWars.Game.Engine.Test/bin/Debug/xunit.execution.desktop.dll
RobotWars.Game.Engine.Test/bin/Debug/xunit.execution.desktop.pdb
RobotWars.Game.Engine.Test/bin/Debug/xunit.execution.desktop.xml
RobotWars.Game.Engine/obj/Debug/RobotWars.Game.Engine.dll
RobotWars.Game.Engine/obj/Debug/RobotWars.Game.Engine.pdb
